<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/footer.css" th:href="@{/footer.css}" />
    <title>该项目正在开发中......</title>

    <style>
        .hint_div{
            margin-top: 200px;
            text-align: center;
            border: lightgray solid 2px;
        }
    </style>
</head>
<body>

<div class="hint_div">
    <h1>Sorry，此项目还未开发完成<br />请耐心等待</h1>
    <a href="#" onclick="window.history.back();">返回上一个页面</a>
</div>


<div class="footer" th:replace="index :: footer">
    QZero 小站 | See more on <a target="_blank" href="https://github.com/QZero233/QZeroBlog">github</a> <br />
    All rights reserved
</div>

</body>
</html>